<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>instant-recall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C8E791E01D2ACE7F00A02E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8E791F41D2ACE8000A02E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8E791FF1D2ACE8000A02E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
